<!DOCTYPE html>
<f:layout name="Default" />
<html lang="en">
    <head></head>
    <body>
    <f:section name="body">
        <div class="alert alert-info">

            <span class="glyphicon glyphicon-info-sign"></span>
            Content only rendered in Parent "One-Site-Page"!

        </div>

        <!--

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        <span class="glyphicon glyphicon-book"></span>
                    </h1>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Page Tree
                    </h2>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/typo3conf/ext/hive_cpt_nav_anchor/Resources/Public/Manual/PageTree.gif" style="max-width: 100%;">
                </div>
                <div class="col-md-8">
                <p>TODO</p>
                </div>
            </div>





            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Backend Layouts
                    </h2>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/typo3conf/ext/hive_cpt_nav_anchor/Resources/Public/Icons/BackendLayouts/SectionAnchor.gif" alt="hive Backend Layout :: Section A/B/C :: 100%" title="hive Backend Layout :: Section A/B/C :: 100%" style="max-width: 100%;">
                        </div>
                        <div class="col-md-4">
                            <img src="/typo3conf/ext/hive_cpt_nav_anchor/Resources/Public/Icons/BackendLayouts/SectionAnchor5050.gif" alt="hive Backend Layout :: Section A/B/C :: 50% 50%" title="hive Backend Layout :: Section A/B/C :: 50% 50%" style="max-width: 100%;">
                        </div>
                        <div class="col-md-4">
                            <img src="/typo3conf/ext/hive_cpt_nav_anchor/Resources/Public/Icons/BackendLayouts/SectionAnchor6633.gif" alt="hive Backend Layout :: Section A/B/C :: 66% 33%" title="hive Backend Layout :: Section A/B/C :: 66% 33%" style="max-width: 100%;">
                        </div>

                        <div class="clearfix visible-md visible-lg">
                            <p>&nbsp;</p>
                        </div>

                        <div class="col-md-4">
                            <img src="/typo3conf/ext/hive_cpt_nav_anchor/Resources/Public/Icons/BackendLayouts/SectionAnchor3366.gif" alt="hive Backend Layout :: Section A/B/C :: 33% 66%" title="hive Backend Layout :: Section A/B/C :: 33% 66%" style="max-width: 100%;">
                        </div>
                        <div class="col-md-4">
                            <img src="/typo3conf/ext/hive_cpt_nav_anchor/Resources/Public/Icons/BackendLayouts/SectionAnchor333333.gif" alt="hive Backend Layout :: Section A/B/C :: 33% 33% 33%" title="hive Backend Layout :: Section A/B/C :: 33% 33% 33%" style="max-width: 100%;">
                        </div>
                        <div class="col-md-4">
                            <img src="/typo3conf/ext/hive_cpt_nav_anchor/Resources/Public/Icons/BackendLayouts/SectionAnchor25252525.gif" alt="hive Backend Layout :: Section A/B/C :: 25% 25% 25% 25%" title="hive Backend Layout :: Section A/B/C :: 25% 25% 25% 25%" style="max-width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <p>TODO</p>
                </div>
            </div>
        </div>

        -->
    </f:section>
    </body>
</html>