<!DOCTYPE html>
<f:layout name="Default" />
<html lang="en">
    <head></head>
    <body>
    <f:section name="body">
        <div class="alert alert-info">
            <strong>Important :: </strong>Content only rendered in Anchor Page!
        </div>
    </f:section>
    </body>
</html>