<!DOCTYPE html>
<f:layout name="Default" />
<html lang="en">
<head></head>
<body>
<f:section name="body">
    <div class="alert alert-info">

        <span class="glyphicon glyphicon-info-sign"></span>
        Content only rendered in Parent "One-Site-Page"!

    </div>
</f:section>
</body>
</html>