<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Default" />


    <f:section name="main">
        <f:cObject typoscriptObjectPath="lib.navigation.anchor" data="{pageUid: '{iPageUid}', onePageUid: '{iOnePageUid}'}" />
    </f:section>
</div>