.section {
  position: relative;
}

.section__background {
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;

}

.section__background--inner {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;

  background-size: cover;
  background-position: center center;
  z-index: 0;
  opacity: 0;

  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.section__background--inner.fadeIn {
  opacity: 1;
}

.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 100% !important;
}

.col-xs-20 {
  width: 20% !important;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-20 {
    width: 20% !important;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-20 {
    width: 20% !important;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-20 {
    width: 20% !important;
    float: left;
  }
}